:root {
    --p_color: #7b7b7b;
    --bg_color: #F3F3F3;
    --white_color: #fff;
    --color_heading: #253237;
    --border_color: #d6d6d6;
}

.top_slide {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border_color);
    padding: 15px 20px 20px 0;
}

.top_slide::after {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100px;
    height: 2px;
    background: var(--main_color);
}

.top_slide h2 {
    font-size: 30px;
    color: var(--main_color);
    margin-bottom: 10px;
    text-transform: capitalize;
}







.product {
    width: 250px;
    background: var(--white_color);
    padding: 20px 15px;
    border: 1px solid var(--border_color);
    transition: 0.3s;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 15px #9494943e;
}

.slide_products {
    padding: 50px 0;
}

/* Product Hover */
.product:hover {
    border-color: var(--main_color);
}


/* Product Image */
.product .img_product {
    position: relative;
    height: 180px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.product .img_product img {
    height: 160px;
    width: auto;
    object-fit: contain;
}


/* Product Name */
.product .name_product {
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 1.5;
}


/* Stars */
.product .stars {
    display: flex;
    align-items: center;
    gap: 3px;
    color: #f6d941;
    margin-bottom: 10px;
}

.product .stars svg {
    color: #f6d941;
}


/* Price */
.product .price {
    font-weight: bold;
    font-size: 20px;
    color: var(--main_color);
    margin: 0;
}


/* Product Icons */
.product .icons {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    transition: 0.3s;
}

.product:hover .icons {
    right: 15px;
}


/* Icon Circle */
.product .icons span {
    width: 40px;
    height: 40px;
    background: var(--bg_color);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    cursor: pointer;

    transition: 0.3s;
}

.product .icons span:hover {
    background: var(--main_color);
    color: var(--white_color);
}

.product.in-cart .icons .btn_addtocart{
    background: var(--main_color);
    pointer-events: none;
}

.product.in-cart .icons .btn_addtocart svg{
    fill: var(--white_color);
}




.product .status_cart{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #253237;
}

.product.in-cart .status_cart{
    top: 10px;
}

.product .status_cart svg{
    color: rgb(44, 252, 3);
}